
*{
/*background:#D3D3D3;*/
margin: 0;
padding: 0;
box-sizing:border-box;
}
body{
    font-family:'Gemunu Libre', sans-serif;
}

nav {
   position: fixed;
   top: 20px;
   left: 20px;
   display: flex;
   justify-content: flex-start;
}

nav a{
    color: white;
    text-decoration:none;
    display: inline-block;
    animation: moverIzquierda 1s ease-out;
}

.icono{
    display: block;
    /*animacion*/
}

header {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
    padding: 48px;
    width: 100%;

}

.container{
    width: 95%;
    max-width: 1200px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

img{
    display: block;
    height: 450px;
    object-fit: cover;
    width: auto;
    animation: moverDerecha 2s ease-in;
}

.textos{
    width: 50%;
    color: gray;

}

.textos h1{
    font-size: 70px;
    animation: moverDerecha 2s ease-in;
}

.textos h2{
    font-size: 30px;
    animation: moverIzquierda 1s ease-out;
}

.textos a{
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 300;
    margin-top: 30px;
    border: 1px solid white;
    width: 120px;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
    animation: moverArriba 2s ease-in;

}
.wave{
    height: 100%;
    width: 100%;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.enlaces {
    position: fixed;
    display: flex;
    top: 0;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    right: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;


    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.uno{

}

.dos{

}
@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);

    }
}

@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);

    }
}

@keyframes moverArriba{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);

    }
}

/*media Query */

@media screen and (max-width:1000px) {

    img{
        height: 400px;
    }
    
}

@media screen and (max-width:800px) {

    img{
        height: 370px;
    }
    .textos h1{
        font-size: 70px;
    }

    .textos h2{
        font-size: 25px;
    }
}

@media screen and (max-width:700px) {

    img{
        height: 250px;
    }
    .textos h1{
        font-size: 40px;
    }

    .textos h2{
        font-size: 15px;
    }
}

@media screen and (max-width:400px) {

    .container{
        width: 100%;
        flex-wrap: wrap-reverse;
        text-align: center;
    }
    .textos {
        width: 100%;
        text-align: center;
    }

    .textos h1{
        font-size: 60px;
    }
}

@media screen and (max-width:340px) {

    .img{
        height: 160px;
    }
    .textos h1 {
    }   font-size: 35px;

    .textos h2{
        font-size: 15px;
    }

    .textos a{
        width: 120px;

    }
}